@media (max-width: 1200px){
    .footer__top{
        justify-content: center;
    }
    .footer__instagram{
        width: 100%;
    }
    .footer__instagram img {
        width: 160px;
        height: 160px;
    }
    .footer_instagram-images {
        justify-content: center;
        width: 100%;
    }
    .footer__social{
        padding-left: 3px;
        padding-right: 3px;
    }
    .footer__social-form input[type="email"] {
        width: 300px;
        padding-left: 20px;
    }
    .footer__instagram-title{
        text-align: center;
    }
}


@media (max-width: 1175px){
    .blog__items {
        justify-content: center;
    }
    .blog__item {
        margin: 0 30px;
    }
    .blog__link{
        margin-bottom: 30px;
    }
    .middle__items{
        justify-content: center;
    }
    .middle__item-left{
        margin: 0 15px;
    }
    .middle__item-middle{
        margin: 0 15px;
    }
    .middle__item-right{
        margin: 0 15px;
    }
}

@media  (max-width: 992px){
    .menu__btn{
        display: block;
    }
    .header__menu-list{
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: #ccc;
        z-index: 15;
    }
    .header__menu-item{
        display: block;
    }
    .header__menu-item + .header__menu-item {
        padding: 0;
    }

    .header__menu-item a{
        display: block;
        padding: 15px 0;
    }
}

@media  (max-width: 768px){
    .menu__quote::before,
    .menu__quote::after{
        display: none;
    }
    .menu__quote{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 15px;
    }
    .menu__quote-author{
        font-size: 10px;
    }
}

@media  (max-width: 669px){
    .footer__social{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
}

@media  (max-width: 6px){

}

@media  (max-width: 580px){
    .menu__block-info {
        padding: 30px 20px 50px 20px;
    
    }
}

@media  (max-width: 544px){
    .footer__social{
        margin-right: 20px}
}

@media  (max-width: 508px){
    .footer__social-form input[type="submit"]{
        margin-top: 0px;
    }
}



@media  (max-width: 492px){
    .footer__social-form input[type="submit"]{
        margin-left: 0px;
    }
}
@media  (max-width: 479px){
    .footer__social-form input[type="submit"]{
        margin-top: 0px;
    }

@media  (max-width: 464px){
    .footer__social-form input[type="submit"]{
        margin-top: 15px;
    }
}


}
@media  (max-width: 480px){
    .header__inner{
        flex-wrap: wrap;
    }
    .header__to-book{
        flex-wrap: wrap;
        margin-left: 0px;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .menu__block-info {
        padding: 30px 20px 50px 20px;
    
    }
}

@media  (max-width: 418px){
    .top__title{
        font-size: 70px;
    }
}

/* @media  (max-width: 337px){
    .container{
        text-align: center;
    }    
    .footer__info{
        padding-left: 66px;
    }

} */





@media (min-width: 992px){
    .header__menu-list{
        display: block !important;
    }
}